[Unit]
Description=XMR CPU Miner
After=network.target

[Service]
Type=simple
PIDFile=/run/xmr-stak.pid
ExecStart=/usr/local/bin/xmr-stak -c /usr/local/bin/config.txt --cpu /usr/local/bin/cpu.txt
ExecReload=/sbin/start-stop-daemon

[Install]
WantedBy=multi-user.target

